<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">



</head>
<body>

<!--------------------------------- MODAL ---------------------------------->
<div class="modals" th:hidden="${modalVendedor}" >
    <h4>Vendedor cadastrado com sucesso!</h4>
    <div th:object="${NovoVendedor}">
        <p>Nome: <span th:text="${NovoVendedor.getNome()}"></span></p>
        <p>Matricula: <span th:text="${NovoVendedor.getMatricula()}"></span></p>
    </div>
    <span><form action="login"><button class="btn btn-danger">Fechar</button></form></span>
</div>
<!--------------------------------- FIM MODAL ---------------------------------->

<header class="container">
    <div class="row">
        <div class="col-11 mb-3">
            <h2 > Kim Produtos </h2>
        </div>
        <div class="col-1 mt-2">
            <form th:action="@{/logout.html}" method="post">
            <input type="submit" name="logout" value="Exit" class="btn bg-danger btn-danger">
            </form>
        </div>
        <div class="row">
            <nav class="col-6">
                <!-- forms -->
                <form action="salesman" id="form-salesman" ></form>
                <form action="sale" id="form-sale"></form>
                <form action="product" id="form-product"></form>
                <!-- end forms -->
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav nav-item list-header"><a class="nav nav-link active text-muted" >HOME</a></li>
                    <li class="nav nav-item list-header"><button type="submit" form="form-salesman" class="nav nav-link text-dark" >SALESMAN</button></li>
                    <li class="nav nav-item list-header"><button type="submit" form="form-product" class="nav nav-link text-dark" >PRODUCT</button></li>
                    <li class="nav nav-item list-header"><button form="form-sale" class="nav nav-link text-dark" >SALE</button></li>
                </ul>
            </nav>
            <div class="col-3"></div>
            <div class="col-3" >
                <p class="bem-vindo nav-link"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M12 2.5a5.5 5.5 0 00-3.096 10.047 9.005 9.005 0 00-5.9 8.18.75.75 0 001.5.045 7.5 7.5 0 0114.993 0 .75.75 0 101.499-.044 9.005 9.005 0 00-5.9-8.181A5.5 5.5 0 0012 2.5zM8 8a4 4 0 118 0 4 4 0 01-8 0z"></path></svg>
                    <span class="nome-logado" th:text="${nome}"></span></p>
            </div>
        </div>
    </div>
</header>
<div class="container mt-3" >
    <div class="row" >
        <div class="col-12" > <!-- mágica começa-->
            <img id="img-index" src="img/super.jpg">
            <div th:hidden="${nome}!=anonymousUser">
            <form action="login"><button id="logar">LOGIN</button></form>
            <form action="cadastrar-primeira-vez"><button id="cadastrar">FIRST LOGIN</button></form>
            </div>
            <div class="first_cadastro2" th:hidden="${nome}==anonymousUser" style="background-color:black;color:white;">
                <p>Bem vindo amigo(a) <span th:text="${nome}"></span></p>
            </div>
        </div> <!-- mágica termina-->
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>
</html>