<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <script type="text/javascript" src="index.js"></script>

    <title>Home</title>
</head>
<body id="index">
<div id="container-principal">
    <header> <!-- inicio header-->
        <h1>Kim Produtos</h1>
        <nav>
            <ul>
                <li><form action="salesman"><button>Vendedor</button></form></li>
                <li><form action="product"><button>Produto</button></form></li>
                <li><form action="sale"><button>Venda</button></form></li>
            </ul>
            <div class="bem-vindo"<span th:text="${nome}"></span>

        </nav>
    </header> <!-- inicio header-->
</div> <!-- fim container principal-->

<div id="container-index"> <!-- Inicio container salesman -->
    <div id="imagem-home"></div>

</div> <!-- fim container salesman -->

<footer>
    <span>&copy;2021</span>
</footer>
</body>
</html>