<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/estilo.css}">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <script type="text/javascript" src="produto.js"></script>

    <title>Produto</title>
</head>
<body>
<div id="container-principal">
    <header> <!-- inicio header-->
        <h1>Kim Produtos</h1>
        <nav>
            <ul>
                <li><form action="vendedor"><button>Vendedor</button></form></li>
                <li><form action="produto"><button id="selecionado">Produto</button></form></li>
                <li><form action="venda"><button>Venda</button></form></li>
            </ul>
            <div class="bem-vindo"<span th:text="${nome}"></span>
        </nav>
    </header> <!-- inicio header-->
</div> <!-- fim container principal-->

<div id="container-vendedor"> <!-- Inicio container vendedor -->
    <aside>
        <div id="barra-lateral">
            <h2>Produto</h2>
            <ul>
                <li><button onclick="mostrarContainerCad()">Cadastrar</button></li>
                <li><button onclick="mostrarContainerAlt()">Alterar</button></li>
                <li><button onclick="mostrarContainerDel()">Deletar</button></li>
                <li><form action="listarProduto"><button type="submit">Listar</button></form></li>
            </ul>
        </div>
    </aside>


    <div id="container-tabela"> <!-- container tabelas-->
        <!------------------------------- CADASTRAR -------------------------------->

        <div id="container-cadastrar" hidden> <!-- Inicio container cadastrar -->
            <h3>Cadastrar Produto</h3>
            <div id="container-cadastro-vendedor">
                <form action="cadProduto">
                    <fieldset>
                        <legend>
                            Dados do Produto:
                        </legend>

                        <label>Nome:</label><br>
                        <input style="margin-bottom: 17px;" class="input-nome" type="text" name="nome" placeholder="Nome"><br>
                        <label >Valor:</label><br>
                        <input  class="input-nome" type="text" name="valor" placeholder="valor">

                    </fieldset>
                    <span style="display:block;text-align: center;"><button type="submit" class="btn-cadastro">enviar</button></span>
                </form>
            </div>
        </div> <!-- Fim container cadastrar -->
        <!------------------------------- ALTERAR -------------------------------->

        <div id="container-alterar" hidden > <!-- Inicio container alterar -->
            <h3>Alterar Produto</h3>
            <div id="container-alterar-vendedor">
                <form action="altProduto">
                    <fieldset>
                        <legend>
                            Atualizar Produto:
                        </legend>

                        <label>Informe o id:</label><br>
                        <input class="input-nome"  type="text" name="id"><br><br><br><br>

                        <label>Novo nome:</label><br>
                        <input class="input-nome" type="text" name="nome" placeholder="nome"><br>

                        <label>Novo valor:</label><br>
                        <input class="input-nome" type="text" name="valor" placeholder="valor">
                        <br><br>
                        <input class="input-ck" type="checkbox" name="ativar" value="1"><label>Ativo</label>

                    </fieldset>
                    <span style="display:block;text-align: center;"><button type="submit" class="btn-cadastro">alterar</button></span>
                </form>
            </div>
        </div> <!-- Fim container alterar -->

        <!------------------------------- DELETAR -------------------------------->

        <div id="container-deletar" hidden > <!-- Inicio container deletar -->
            <h3>Deletar Produto</h3>
            <div id="container-deletar-vendedor">
                <form action="delproduto">
                    <fieldset>
                        <legend>
                            Deletar Produto:
                        </legend>

                        <label>Informe o ID</label><br>
                        <input class="input-nome"  type="text" name="id"><br>
                    </fieldset>
                    <span style="display:block;text-align: center;"><button type="submit" class="btn-cadastro">deletar</button></span>
                </form>
            </div>
        </div> <!-- Fim container deletar -->

    </div> <!-- fim container tabelas-->
</div> <!-- fim container vendedor -->

<footer>
    <span>&copy;2021</span>
</footer>
</body>
</html>