<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
    <title>Vendedor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="salesman.js"></script>


</head>
<body>

<!--------------------------------- MODAL ---------------------------------->
<div class="modals" th:hidden="${modalVendedor}" >
    <h4>Vendedor cadastrado com sucesso!</h4>
    <div th:object="${NovoVendedor}">
        <p>Nome: <span th:text="${NovoVendedor.getNome()}"></span></p>
        <p>Matricula: <span th:text="${NovoVendedor.getMatricula()}"></span></p>
    </div>
    <span><form action="salesman"><button class="btn btn-danger">Fechar</button></form></span>
</div>
<!--------------------------------- FIM MODAL ---------------------------------->

<!----- hidden inputs ------->
<input hidden id="linha-buscar-vendedor" th:value="${salesman.nome}">
<input hidden id="linha-buscar-vendedor2" th:value="${salesman.matricula}">
<input hidden id="linha-buscar-vendedor3" th:value="${vendedoresVendas}">
<input hidden id="linha-buscar-vendedor4" th:value="${vendedoresValor}">
<!------ end hd inputs ------->

<header class="container">
    <div class="row">
        <div class="col-11 mb-3">
            <h2 > Kim Produtos </h2>
        </div>
        <div class="col-1 mt-2">
            <input type="button" name="logout" value="Exit" class="btn bg-danger btn-danger">
        </div>
        <div class="row">
            <!-- forms -->
            <form action="salesman" id="form-salesman" ></form>
            <form action="sale" id="form-sale"></form>
            <form action="product" id="form-product"></form>
            <!-- end forms -->
            <nav class="col-6">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav nav-item list-header"><a  class="nav nav-link active text-muted " >SALESMAN</a></li>
                <li class="nav nav-item list-header"><button type="submit" form="form-product" class="nav nav-link text-dark" >PRODUCT</button></li>
                <li class="nav nav-item list-header"><button type="submit" form="form-sale" class="nav nav-link text-dark" >SALE</button></li>
            </ul>
            </nav>


            <div class="col-3"></div>
            <div class="col-3">
                <p class="bem-vindo nav-link"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M12 2.5a5.5 5.5 0 00-3.096 10.047 9.005 9.005 0 00-5.9 8.18.75.75 0 001.5.045 7.5 7.5 0 0114.993 0 .75.75 0 101.499-.044 9.005 9.005 0 00-5.9-8.181A5.5 5.5 0 0012 2.5zM8 8a4 4 0 118 0 4 4 0 01-8 0z"></path></svg>
                    <span class="nome-logado" th:text="${nome}"></span></p>
            </div>
        </div>
    </div>
</header>
<div class="container mt-3" >
    <div class="row" >
        <aside class="col-1 bg-beige" >


            <button class="btn-list-side" title="Adicionar" onclick="mostrarContainerCad()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="42" height="42">
                    <path fill-rule="evenodd" d="M19.25 1a.75.75 0 01.75.75V4h2.25a.75.75 0 010 1.5H20v2.25a.75.75 0 01-1.5 0V5.5h-2.25a.75.75 0 010-1.5h2.25V1.75a.75.75 0 01.75-.75zM9 6a3.5 3.5 0 100 7 3.5 3.5 0 000-7zM4 9.5a5 5 0 117.916 4.062 7.973 7.973 0 015.018 7.166.75.75 0 11-1.499.044 6.469 6.469 0 00-12.932 0 .75.75 0 01-1.499-.044 7.973 7.973 0 015.059-7.181A4.993 4.993 0 014 9.5z"></path>
                </svg>
            </button>

            <button class="btn-list-side" title="Alterar" onclick="mostrarContainerAlt()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="42" height="42">
                    <path d="M7.72 21.78a.75.75 0 001.06-1.06L5.56 17.5h14.69a.75.75 0 000-1.5H5.56l3.22-3.22a.75.75 0 10-1.06-1.06l-4.5 4.5a.75.75 0 000 1.06l4.5 4.5zm8.56-9.5a.75.75 0 11-1.06-1.06L18.44 8H3.75a.75.75 0 010-1.5h14.69l-3.22-3.22a.75.75 0 011.06-1.06l4.5 4.5a.75.75 0 010 1.06l-4.5 4.5z"></path>
                </svg>
            </button>

            <button class="btn-list-side" title="Deletar" onclick="mostrarContainerDel()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="42" height="42">
                    <path fill-rule="evenodd" d="M5.72 5.72a.75.75 0 011.06 0L12 10.94l5.22-5.22a.75.75 0 111.06 1.06L13.06 12l5.22 5.22a.75.75 0 11-1.06 1.06L12 13.06l-5.22 5.22a.75.75 0 01-1.06-1.06L10.94 12 5.72 6.78a.75.75 0 010-1.06z"></path>
                </svg>
            </button>

            <button class="btn-list-side" title="Buscar" onclick="mostrarContainerBus()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="42" height="42">
                    <path d="M15.03 8.28a.75.75 0 00-1.06-1.06l-5.22 5.22-2.22-2.22a.75.75 0 10-1.06 1.06l2.75 2.75a.75.75 0 001.06 0l5.75-5.75z"></path>
                    <path fill-rule="evenodd" d="M0 10.5C0 4.701 4.701 0 10.5 0S21 4.701 21 10.5c0 2.63-.967 5.033-2.564 6.875l4.344 4.345a.75.75 0 11-1.06 1.06l-4.345-4.344A10.459 10.459 0 0110.5 21C4.701 21 0 16.299 0 10.5zm10.5-9a9 9 0 100 18 9 9 0 000-18z"></path>
                </svg>
            </button>

            <button class="btn-list-side" title="Listar" onclick="mostrarContainerLis()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="42" height="42">
                    <path fill-rule="evenodd" d="M4 7a1 1 0 100-2 1 1 0 000 2zm4.75-1.5a.75.75 0 000 1.5h11.5a.75.75 0 000-1.5H8.75zm0 6a.75.75 0 000 1.5h11.5a.75.75 0 000-1.5H8.75zm0 6a.75.75 0 000 1.5h11.5a.75.75 0 000-1.5H8.75zM5 12a1 1 0 11-2 0 1 1 0 012 0zm-1 7a1 1 0 100-2 1 1 0 000 2z"></path>
                </svg>
            </button>
        </aside>
        <div class="col-11">  <!-- mágica começa-->
            <!------------------------------- CADASTRAR -------------------------------->

            <div id="container-cadastrar" hidden > <!-- Inicio container cadastrar -->
                <h3>Cadastrar Vendedor</h3>
                <div id="container-cadastro-vendedor">
                    <form action="insert_salesman">
                        <fieldset>
                            <legend>
                                Dados:
                            </legend>

                            <div class="input-group mb-1 ">

						  <span class="input-group-text" >
						  		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
						  			<path d="M12 2.5a5.25 5.25 0 00-2.519 9.857 9.005 9.005 0 00-6.477 8.37.75.75 0 00.727.773H20.27a.75.75 0 00.727-.772 9.005 9.005 0 00-6.477-8.37A5.25 5.25 0 0012 2.5z">
						  			</path>
						  		</svg>
						  </span>

                                <input type="text" class="form-control" name="nome" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
						  <span class="input-group-text" >
						  	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M6 9V7.25C6 3.845 8.503 1 12 1s6 2.845 6 6.25V9h.5a2.5 2.5 0 012.5 2.5v8a2.5 2.5 0 01-2.5 2.5h-13A2.5 2.5 0 013 19.5v-8A2.5 2.5 0 015.5 9H6zm1.5-1.75C7.5 4.58 9.422 2.5 12 2.5c2.578 0 4.5 2.08 4.5 4.75V9h-9V7.25zm-3 4.25a1 1 0 011-1h13a1 1 0 011 1v8a1 1 0 01-1 1h-13a1 1 0 01-1-1v-8z"></path></svg>
						  </span>

                                <input type="text" class="form-control" name="senha" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                        </fieldset>
                        <span style="display:block;text-align: center;"><button type="submit" class="btn btn-success bg-success">ENVIAR</button></span>
                    </form>
                </div>
            </div> <!-- Fim container cadastrar -->

            <!------------------------------- ALTERAR -------------------------------->

            <div id="container-alterar" hidden> <!-- Inicio container alterar -->
                <h3>Alterar Vendedor</h3>
                <div id="container-alterar-vendedor">
                    <form action="update_salesman">
                        <fieldset>
                            <legend>
                                Atualizar Vendedor:
                            </legend>

                            <div class="input-group mb-5 ">
						  <span class="input-group-text" >

						  		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M16.75 8.5a1.25 1.25 0 100-2.5 1.25 1.25 0 000 2.5z"></path><path fill-rule="evenodd" d="M15.75 0a8.25 8.25 0 00-7.851 10.79L.513 18.178A1.75 1.75 0 000 19.414v2.836C0 23.217.784 24 1.75 24h1.5A1.75 1.75 0 005 22.25v-1a.25.25 0 01.25-.25h2.735a.75.75 0 00.545-.22l.214-.213A.875.875 0 009 19.948V18.5a.25.25 0 01.25-.25h1.086c.464 0 .91-.184 1.237-.513l1.636-1.636A8.25 8.25 0 1015.75 0zM9 8.25a6.75 6.75 0 114.288 6.287.75.75 0 00-.804.168l-1.971 1.972a.25.25 0 01-.177.073H9.25A1.75 1.75 0 007.5 18.5v1H5.25a1.75 1.75 0 00-1.75 1.75v1a.25.25 0 01-.25.25h-1.5a.25.25 0 01-.25-.25v-2.836a.25.25 0 01.073-.177l7.722-7.721a.75.75 0 00.168-.804A6.73 6.73 0 019 8.25z"></path></svg>
						  </span>
                                <input type="text" class="form-control input-entrada" maxlength="4" minlength="4" name="matricula" placeholder="Matricula" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-1 ">
						  <span class="input-group-text" >
						  		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
						  			<path d="M12 2.5a5.25 5.25 0 00-2.519 9.857 9.005 9.005 0 00-6.477 8.37.75.75 0 00.727.773H20.27a.75.75 0 00.727-.772 9.005 9.005 0 00-6.477-8.37A5.25 5.25 0 0012 2.5z">
						  			</path>
						  		</svg>
						  </span>
                                <input type="text" class="form-control" name="nome" placeholder="Novo nome" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
						  <span class="input-group-text" >
						  	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M6 9V7.25C6 3.845 8.503 1 12 1s6 2.845 6 6.25V9h.5a2.5 2.5 0 012.5 2.5v8a2.5 2.5 0 01-2.5 2.5h-13A2.5 2.5 0 013 19.5v-8A2.5 2.5 0 015.5 9H6zm1.5-1.75C7.5 4.58 9.422 2.5 12 2.5c2.578 0 4.5 2.08 4.5 4.75V9h-9V7.25zm-3 4.25a1 1 0 011-1h13a1 1 0 011 1v8a1 1 0 01-1 1h-13a1 1 0 01-1-1v-8z"></path></svg>
						  </span>

                                <input type="text" class="form-control" name="senha" placeholder="Nove senha" aria-label="Username" aria-describedby="basic-addon1">
                            </div>

                            <br>
                            <div class="form-check">
                                <input class="form-check-input" name="ativar" type="checkbox" value="1" id="flexCheckDefault">
                                <label class="form-check-label" >
                                    Ativo
                                </label>
                            </div>

                        </fieldset>
                        <span style="display:block;text-align: center;"><button type="submit" class="btn btn-success bg-success">ALTERAR</button></span>
                    </form>
                </div>
            </div> <!-- Fim container alterar -->

            <!------------------------------- DELETAR -------------------------------->

            <div id="container-deletar" hidden > <!-- Inicio container deletar -->
                <h3>Deletar Vendedor</h3>
                <div id="container-deletar-vendedor">
                    <form action="disable_salesman">
                        <fieldset>
                            <legend>
                                Deletar Vendedor:
                            </legend>

                            <div class="input-group mb-5 ">
						  <span class="input-group-text" >

						  		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M16.75 8.5a1.25 1.25 0 100-2.5 1.25 1.25 0 000 2.5z"></path><path fill-rule="evenodd" d="M15.75 0a8.25 8.25 0 00-7.851 10.79L.513 18.178A1.75 1.75 0 000 19.414v2.836C0 23.217.784 24 1.75 24h1.5A1.75 1.75 0 005 22.25v-1a.25.25 0 01.25-.25h2.735a.75.75 0 00.545-.22l.214-.213A.875.875 0 009 19.948V18.5a.25.25 0 01.25-.25h1.086c.464 0 .91-.184 1.237-.513l1.636-1.636A8.25 8.25 0 1015.75 0zM9 8.25a6.75 6.75 0 114.288 6.287.75.75 0 00-.804.168l-1.971 1.972a.25.25 0 01-.177.073H9.25A1.75 1.75 0 007.5 18.5v1H5.25a1.75 1.75 0 00-1.75 1.75v1a.25.25 0 01-.25.25h-1.5a.25.25 0 01-.25-.25v-2.836a.25.25 0 01.073-.177l7.722-7.721a.75.75 0 00.168-.804A6.73 6.73 0 019 8.25z"></path></svg>
						  </span>
                                <input type="text" class="form-control input-entrada" maxlength="4" minlength="4" name="matricula" placeholder="Matricula" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </fieldset>
                        <span style="display:block;text-align: center;"><button type="submit" class="btn btn-success bg-success">DELETAR</button></span>
                    </form>
                </div>
            </div> <!-- Fim container deletar -->
            <!----------------------------- BUSCAR ------------------------------------->

            <div id="container-buscar" hidden > <!-- Inicio container Buscar -->

                <h3>Buscar Vendedor</h3>
                <div id="container-buscar-vendedor">
                    <form action="search_salesman">
                        <fieldset>
                            <legend>
                                Matricula:
                            </legend>

                            <div class="input-group mb-5 ">
						  <span class="input-group-text" >

						  		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M16.75 8.5a1.25 1.25 0 100-2.5 1.25 1.25 0 000 2.5z"></path><path fill-rule="evenodd" d="M15.75 0a8.25 8.25 0 00-7.851 10.79L.513 18.178A1.75 1.75 0 000 19.414v2.836C0 23.217.784 24 1.75 24h1.5A1.75 1.75 0 005 22.25v-1a.25.25 0 01.25-.25h2.735a.75.75 0 00.545-.22l.214-.213A.875.875 0 009 19.948V18.5a.25.25 0 01.25-.25h1.086c.464 0 .91-.184 1.237-.513l1.636-1.636A8.25 8.25 0 1015.75 0zM9 8.25a6.75 6.75 0 114.288 6.287.75.75 0 00-.804.168l-1.971 1.972a.25.25 0 01-.177.073H9.25A1.75 1.75 0 007.5 18.5v1H5.25a1.75 1.75 0 00-1.75 1.75v1a.25.25 0 01-.25.25h-1.5a.25.25 0 01-.25-.25v-2.836a.25.25 0 01.073-.177l7.722-7.721a.75.75 0 00.168-.804A6.73 6.73 0 019 8.25z"></path></svg>
						  </span>
                                <input type="text" class="form-control input-entrada" maxlength="4" minlength="4" name="matricula" placeholder="Matricula" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </fieldset>
                        <span style="display:block;text-align: center;"><button type="submit" class="btn btn-success bg-success">BUSCAR</button></span>

                        <div class="mt-3" id="container-tabela-buscar-vendedor" hidden >
                            <table class="table table-primary table-striped"  align="center" id="tabela-buscar-vendedor" >
                                <tbody th:object="${salesman}">
                                <tr>
                                    <th class="cabecalho-tabela">Matricula</th>
                                    <th class="cabecalho-tabela">Nome</th>
                                    <th class="cabecalho-tabela">Ativo</th>
                                </tr>
                                <tr>
                                    <td th:text="${salesman.matricula}"></td>
                                    <td th:text="${salesman.nome}"></td>
                                    <td th:text="${ativo}"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </form>
                </div>
                <script>
                mostrarBuscar();
            </script>
                <div  id="container-vendedor-inexistente" hidden class="mt-3">
                    <h3 style="width: 400px; margin: auto; padding: 8px; border-radius:15px; " class="bg-info">VENDEDOR INEXISTENTE</h3>
                </div>
                <script>
                vendedorInexistente();
            </script>

            </div> <!-- Fim container Buscar -->

            <!-- ******************************** LISTAR ****************************-->
            <div id="container-listar" hidden> <!-- Inicio container listar -->
                <h3 style="margin-left: -100px;">Listar Vendedores</h3>
                <div id="container-listar-vendedor">

                <span id="span-btn-listar-vendedores">
                    <form id="porVendas" action="list_saleman_by_sales"></form>
                    <form id="porValor" action="list_saleman_by_value"></form>

                    <button class="btn btn-success bg-success" style="width: 150px" form="porVendas">POR VENDAS</button>
                    <button class="btn btn-success bg-success" style="width: 150px" form="porValor">POR VALOR</button>

                </span>
                </div>

                <!---- tabela valor -->
                <div hidden id="container-tabela-valor-vendedor">
                    <table align="center" style="width: 650px;" class="table table-primary table-striped mt-3">
                        <tr>
                            <th>Matricula</th>
                            <th>Nome</th>
                            <th>Total vendido</th>
                        </tr>
                        <tr th:object="${vendedoresValor}" th:each=" sale, stat : ${vendedorees}">
                            <td th:text="${sale.getMatricula()}" style="font-family:Monaco"></td>
                            <td th:text="${sale.getNome()}"></td>
                            <td th:text="${vendedoresValor.get(sale)} != null ? ${vendedoresValor.get(sale)} : 0.00 "></td>
                        </tr>
                    </table>
                </div>
                <!---- fim tabela valor ----->
                <!---- tabela sales -->
                <div hidden id="container-tabela-vendas-vendedor" >
                    <table align="center" style="width: 650px;" class="table table-primary table-striped mt-3" >
                        <tr>
                            <th>Matricula</th>
                            <th>Nome</th>
                            <th>Total de vendas</th>
                        </tr>
                        <tr th:object="${vendedoresVendas}" th:each=" sales, stat : ${vendedores}">
                            <td th:text="${sales.getMatricula()}" style="font-family:Monaco;" ></td>
                            <td th:text="${sales.getNome()}"></td>
                            <td th:text="${vendedoresVendas.get(sales)} != null ? ${vendedoresVendas.get(sales)} : 0 "></td>
                        </tr>
                    </table>
                </div>

                <script>tabelasVendedorMostrar();</script>
                <!---- fim tabela sales ----->

            </div> <!-- Fim container listar -->


        </div> <!-- mágica termina-->
    </div>
</div>












<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>
</html>