<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
    <title>Cadastrar Venda</title>
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link rel="stylesheet" type="text/css" href="normalize.css">
</head>
<body>

<!------------------------------- CADASTRAR -------------------------------->
<form id="voltar" action="venda"></form>
<form id="enviar" action="cadVenda">
    <div id="container-cadastrar"  > <!-- Inicio container cadastrar -->
        <h3>Cadastrar Venda</h3>

        <div th:object="${venda}" id="container-cadastro-vendedor">

            <fieldset>
                <legend>
                    Dados do vendedor:
                </legend>

                <label>Matricula:</label><br>
                <input class="input-monoespaco" type="text" name="matricula" maxlength="4"><br>

            </fieldset>


            <div align="center"><button type="submit" form="voltar" class="btn-cadastro">VOLTAR</button><button form="enviar" class="btn-cadastro">ENVIAR</button></div><br>

        </div>
    </div> <!-- Fim container cadastrar -->
    <div id="modal-vendas"> <!---- inicio modal vendas ---->
        <fieldset>
            <table align="center" class="tabela">
                <tr>
                    <td style="width: 100px;" class="cabecalho-tabela">Cód</td>
                    <td style="width: 600px;" class="cabecalho-tabela">Produto</td>
                    <td style="width: 200px;" class="cabecalho-tabela">Valor</td>
                    <td style="width: 50px;" class="cabecalho-tabela">Quantidade</td>
                </tr>
               <!-- <tr class="linhaTabela" th:object="${venda}" th:each="prod, stat: ${venda.itens}">
                    <td style="width: 100px;"><input th:value="${prod.getId()}" th:field="*{itens[__${stat.index}__].id}"></td>
                    <td style="width: 600px;" th:text="${prod.getNome()}"></td>
                    <td style="width: 200px;" th:text="${prod.getPreco()}"></td>
                    <td style="width: 50px;"><input th:field="*{itens[__${stat.index}__].quantidade}" type="number"></td>

                </tr> -->

                <tr class="linhaTabela"  th:object="${venda}" th:each="prod, stat: ${venda.itens}">
                    <td style="width: 100px;"><input th:field="*{itens[__${stat.index}__].Id_produto}" th:value="${prod.getId_produto()}" ></td>
                    <td style="width: 600px;" th:text="${map_produtos.get(prod.getId_produto())}"></td>
                    <td style="width: 200px;" th:text="${prod.getPreco_corrente()}"></td>
                    <td style="width: 50px;"><input th:field="*{itens[__${stat.index}__].quantidade}" type="number"></td>

                </tr>
            </table>
        </fieldset>
    </div> <!---- fim modal vendas--->
</form>
</body>
</html>